<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <a href="https://bookly.co/">
        <img src=https://bookly.co/assets/logo-0caae2836350216289b8cef80de904866d07d9736fbf83b7b5e7cc621bf930be.png alt="Logo">
      </a>
      <span class="col-md-2">KJ's Address Book</span>
      <%= login_helper "btn btn-dark" %>
      <%= yield %>
    </div>
  </body>
</html>
